<ion-header>
  <ion-toolbar>
    <ion-title>
      PRIMEIRO APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Código da Turma: ADS301M</ion-card-subtitle>
      <ion-card-title>Marcos Antonio de Souza Amaral</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/marcos.jpg" alt="Foto do Marcos" style="width: 100%; border-radius: 150px;">
    </ion-card-content>
  </ion-card>
</ion-content>
